In [3]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline  
from sklearn.model_selection import train_test_split
import datetime as dt
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.metrics import confusion_matrix, classification_report
from sklearn import metrics
from sklearn.tree import DecisionTreeClassifier

In [4]:
df = pd.read_excel('./data/TornadoData.xlsx', 'Tornado_MinData')
df.head()

,Date,State_Num,State,County_Num,County_Name,Event,Property_DMG,Damage Factor,F-Scale
0,1984-07-05,1,AL,95,MARSHALL,TORNADO,25.0,K,1.0
1,1984-09-15,1,AL,39,COVINGTON,TORNADO,25.0,K,1.0
2,1984-10-15,1,AL,35,CONECUH,TORNADO,250.0,K,2.0
3,1984-11-10,1,AL,75,LAMAR,TORNADO,2.5,K,0.0
4,1984-11-10,1,AL,107,PICKENS,TORNADO,250.0,K,2.0

In [7]:
# add a month column to the data set
df['Month'] = df['Date'].apply(lambda d: d.month)
df['Year'] =  df['Date'].apply(lambda d: d.year)

In [9]:
df.to_csv('./data/TornadoDataYearMonth.csv')